<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Route</title>
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <style>
        body{
            background-color: #061934;
        }
        h1 {
            text-align: center;
            margin: 20px 0;
            color: azure;
        }
        #map {
            height: 650px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Find the Route</h1>
    <div id="map"></div>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>    
    <script>
        window.onload = function(){
            // Initialize the map on the "map" div with a given center and zoom level.
            let mymap = L.map('map').setView([36.8008, 10.1807], 7);

            // Add a tile layer to the map using OpenStreetMap Tunisia tiles.
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 1,
                maxZoom: 20
            }).addTo(mymap);

            // Add routing control to the map using Leaflet Routing Machine.
            L.Routing.control({
                geocoder: L.Control.Geocoder.nominatim(),
                lineOptions: {
                    styles: [{
                        color: '#839c49',
                        opacity: 1,
                        weight: 7
                    }]
                },
                router: new L.Routing.OSRMv1({
                    language: 'en'
                })
            }).addTo(mymap);
        };
    </script>
</body>
</html>
